@import "../../../node_modules/normalize.css";

body{
    background-color: #302E2B;
}

div, p, h1,h2,h3,h4,h5,h6, button, a,li,ul{
    color:#fff;
}

p{
    margin-block-start: 0;
    margin-block-end: 0;
}

a{
    text-decoration: none;
}
